agents_ads/_COMUNIDADE_METAPLAY____Campanha_1_1_1_video.json
{
  "name": "[COMUNIDADE METAPLAY] - Campanha 1:1:1 video",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/act_{{ $json['ID Conta'] }}/campaigns ",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "facebookGraphAppApi",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "=name",
              "value": "={{ $json.Campaign }}"
            },
            {
              "name": "objective",
              "value": "OUTCOME_SALES"
            },
            {
              "name": "status",
              "value": "PAUSED"
            },
            {
              "name": "access_token",
              "value": "={{ $('variaveis').item.json['token de usuario'] }}"
            },
            {
              "name": "special_ad_categories",
              "value": "[]"
            }
          ]
        },
        "options": {}
      },
      "id": "b87b798f-647c-495a-8e6e-1358c4450b2a",
      "name": "fb- Cria objetivo de campanha",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        40,
        100
      ],
      "credentials": {
        "facebookGraphAppApi": {
          "id": "cMaHToCdxFugBm4K",
          "name": "Facebook Graph (App) account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=  https://graph.facebook.com/v21.0/act_{{ $('variaveis').item.json['ID Conta'] }}/adcreatives ",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('variaveis').item.json['nome ads'] }}"
            },
            {
              "name": "object_story_spec",
              "value": "={\n  \"page_id\": \"{{ $('variaveis').item.json['ID fanpage'] }}\",\n  \"link_data\": {\n    \"link\": \"{{ $('variaveis').item.json['Url da campanha'] }}\",\n    \"message\": \"Descubra a revolucionária Nova Tecnologia de Inteligência Artificial\",\n    \"name\": \"Clique em Saiba Mais\",\n    \"description\": \"Teste teste teste\",\n    \"image_hash\": \"3f680f504b68757624cb4714a2558e7f\",\n    \"call_to_action\": {\n      \"type\": \"LEARN_MORE\",\n      \"value\": {\n        \"link\": \"{{ $('variaveis').item.json['Url da campanha'] }}\"\n      }\n    }\n  }\n}\n  "
            },
            {
              "name": "degrees_of_freedom_spec",
              "value": "{ \"creative_features_spec\": { \"standard_enhancements\": { \"enroll_status\": \"OPT_IN\" } } }"
            },
            {
              "name": "access_token",
              "value": "={{ $('variaveis').item.json['token de usuario'] }}"
            },
            {
              "name": "title",
              "value": "={{ $('variaveis').item.json['nome ads'] }}"
            },
            {
              "name": "url_tags",
              "value": "utm_source=facebook teste"
            }
          ]
        },
        "options": {}
      },
      "id": "42c90a54-53e2-4946-8721-30e43fc2daa0",
      "name": "Adcriative",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        560,
        100
      ]
    },
    {
      "parameters": {
        "content": "## CAMPANHA + CONJUNTO",
        "height": 302,
        "width": 746,
        "color": 6
      },
      "id": "61ecc8b4-76d5-4376-b1ba-456e3d904362",
      "name": "Sticky Note9",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=Haja como especialista em campanhas do facebook ads, voce cria headlines virais para meus anúncios. na resposta você nunca coloca aspas (\")."
            },
            {
              "content": "=Crie uma headline para meu anuncio com o assunto {{ $('variaveis').item.json['URL Campaign'] }}, me retone somente a headline, Não me retorne aspas na headline, com apenas 5 palavras. Minha headline nao pode ter (\")."
            }
          ]
        },
        "simplifyOutput": false,
        "options": {},
        "requestOptions": {}
      },
      "id": "ee2b95ef-c4d4-45de-9cc4-d9420493e538",
      "name": "Cria headline1",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        820,
        100
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "8LRhej9xEz9RuG3T",
          "name": "conta2"
        }
      }
    },
    {
      "parameters": {
        "resource": "chat",
        "model": "gpt-4o",
        "prompt": {
          "messages": [
            {
              "role": "system",
              "content": "=Haja como especialista em campanhas do facebook ads, voce cria textos para meus anuncios com no maximo 100 palavras virais para meus anúncios. Não me retorne aspas (\")"
            },
            {
              "content": "=Crie um texto para meu anuncio com o assunto {{ $json.message }}, me retone somente o texto, sem aspas (\"), com no maximo 50 palavras, meu texto não pode conter (\") "
            }
          ]
        },
        "simplifyOutput": false,
        "options": {},
        "requestOptions": {}
      },
      "id": "17bae075-0fcc-4a93-a800-a420afaefcf5",
      "name": "descricao",
      "type": "n8n-nodes-base.openAi",
      "typeVersion": 1,
      "position": [
        1080,
        100
      ],
      "retryOnFail": true,
      "maxTries": 5,
      "waitBetweenTries": 5000,
      "credentials": {
        "openAiApi": {
          "id": "8LRhej9xEz9RuG3T",
          "name": "conta2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v21.0/act_{{ $('variaveis').item.json['ID Conta'] }}/adsets ",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('variaveis').item.json['nome adset'] }}"
            },
            {
              "name": "optimization_goal",
              "value": "LANDING_PAGE_VIEWS"
            },
            {
              "name": "billing_event",
              "value": "IMPRESSIONS"
            },
            {
              "name": "daily_budget",
              "value": "1254"
            },
            {
              "name": "campaign_id",
              "value": "={{ $json.id }}"
            },
            {
              "name": "targeting",
              "value": "{\"geo_locations\": {\"countries\":[\"BR\"]}, \"age_min\": 18, \"age_max\": 55, \"locales\": [16]}"
            },
            {
              "name": "status",
              "value": "ACTIVE"
            },
            {
              "name": "access_token",
              "value": "={{ $('variaveis').item.json['token de usuario'] }}"
            },
            {
              "name": "bid_strategy",
              "value": "LOWEST_COST_WITHOUT_CAP"
            },
            {
              "name": "advantage_plus",
              "value": "ENABLED"
            }
          ]
        },
        "options": {}
      },
      "id": "775c0efe-09d4-4c7c-abf7-705735668869",
      "name": "Adset sem limites",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        300,
        100
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -680,
        100
      ],
      "id": "b51ebacf-5e1f-438a-a2a6-33abed1fad6b",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "=1T8EzbSksVBCX2jxNDJhPZmC6OC-F_0AtPulIthrJ9BE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "0",
          "mode": "id"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Status"
            }
          ]
        },
        "options": {}
      },
      "id": "97c12e1d-2b61-47de-9981-a80c2a7e8f5b",
      "name": "Google Sheets - Anuncios",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        -440,
        100
      ],
      "retryOnFail": true,
      "waitBetweenTries": 5000,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YVeJTiqFxFse9AoB",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "fields": {
          "values": [
            {
              "name": "nome campanha",
              "stringValue": "={{ $json.Campaign }}"
            },
            {
              "name": "nome adset",
              "stringValue": "={{ $json.AdSet }}"
            },
            {
              "name": "nome ads",
              "stringValue": "={{ $json.Ad }}"
            },
            {
              "name": "Url da campanha",
              "stringValue": "={{ $json['URL Campaign'] }}"
            },
            {
              "name": "ID fanpage",
              "stringValue": "={{ $json['ID FanPage'] }}"
            },
            {
              "name": "ID da conta",
              "stringValue": "={{ $json['ID Conta'] }}"
            },
            {
              "name": "laedpages",
              "stringValue": "={{ $json.leadingpage }}"
            },
            {
              "name": "CriativoVideo",
              "stringValue": "https://drive.google.com/uc?id=1Ln0RR2u44Sy5e1autbC_hdzAoKLHNCWs&export=download"
            }
          ]
        },
        "options": {}
      },
      "id": "88244b6f-0a52-4a54-9b7c-dbb2aeb389da",
      "name": "variaveis",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [
        -220,
        100
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v22.0/act_{{ $('variaveis').item.json['ID Conta'] }}/ads ",
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "creative",
              "value": "={\n  \"url_tags\": \"utm_source=facebook&utm_campaign=x\", \n  \"object_story_spec\": {\n    \"page_id\": \"{{ $('variaveis').item.json['ID FanPage'] }}\",\n    \"video_data\": {\n \"image_url\": \"https://www.icmc.usp.br/imprensa/6422/_thumb1/destaque-especialistas-mundiais-criam-documento-sobre-capacidades-e-riscos-da-inteligencia-artificial.jpg\",\n      \"video_id\": \"{{ $json.id }}\",\n      \"message\": \"{{ $('descricao').item.json.choices[0].message.content }}   \",\n   \"call_to_action\": {\n        \"type\": \"LEARN_MORE\",\n        \"value\": {\n          \"link\": \"{{ $('Google Sheets - Anuncios').item.json['URL Campaign'] }}\"\n        }\n      }\n    }\n  },\n  \n}\n"
            },
            {
              "name": "adset_id",
              "value": "={{ $('Adset sem limites').item.json.id }}"
            },
            {
              "name": "name",
              "value": "=AD - 01"
            },
            {
              "name": "status",
              "value": "PAUSED"
            },
            {
              "name": "access_token",
              "value": "={{ $('variaveis').item.json['token de usuario'] }}"
            },
            {
              "name": "tracking_specs",
              "value": "[{\"action.type\": [\"offsite_conversion\"], \"fb_pixel\": [\"1558565395009979\"]}]"
            }
          ]
        },
        "options": {}
      },
      "id": "65dd4dc1-0d52-4956-94fb-15c6570cbd60",
      "name": "Ads2",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1980,
        100
      ]
    },
    {
      "parameters": {
        "url": "={{ $('variaveis').item.json.CriativoVideo }}",
        "options": {}
      },
      "id": "f819ceac-8b81-481e-a09c-775735dae786",
      "name": "baixa_video1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1480,
        100
      ]
    },
    {
      "parameters": {
        "content": "## COPY BASE",
        "height": 302,
        "width": 626,
        "color": 5
      },
      "id": "b69a05e9-4df0-4b7c-ac3a-2995db37132d",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        740,
        0
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph-video.facebook.com/v22.0/{{ $('variaveis').item.json['ID FanPage'] }}/videos ",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "title",
              "value": "Video teste"
            },
            {
              "name": "description",
              "value": "Descrição teste"
            },
            {
              "name": "access_token",
              "value": "={{ $('variaveis').item.json['token de usuario'] }}"
            },
            {
              "name": "file_url",
              "value": "={{ $('variaveis').item.json.CriativoVideo }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1720,
        100
      ],
      "id": "3d488050-423e-4e59-99f2-fd3ba7c799cd",
      "name": "Sobe_Video_Grande"
    },
    {
      "parameters": {
        "content": "## Sobe anuncio",
        "height": 302,
        "width": 926,
        "color": 4
      },
      "id": "3da5e325-c839-42ae-b7f0-7e3f686feb0c",
      "name": "Sticky Note1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1360,
        0
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "fb- Cria objetivo de campanha": {
      "main": [
        [
          {
            "node": "Adset sem limites",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adcriative": {
      "main": [
        [
          {
            "node": "Cria headline1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Cria headline1": {
      "main": [
        [
          {
            "node": "descricao",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "descricao": {
      "main": [
        [
          {
            "node": "baixa_video1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Adset sem limites": {
      "main": [
        [
          {
            "node": "Adcriative",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Google Sheets - Anuncios",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Anuncios": {
      "main": [
        [
          {
            "node": "variaveis",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "variaveis": {
      "main": [
        [
          {
            "node": "fb- Cria objetivo de campanha",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "baixa_video1": {
      "main": [
        [
          {
            "node": "Sobe_Video_Grande",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sobe_Video_Grande": {
      "main": [
        [
          {
            "node": "Ads2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "fe884399-7174-461c-98a1-0013ac02b381",
  "meta": {
    "instanceId": "86d0b539cdbfaefdd305e9f4d9320d6449af6a05b20f421bc7ca5b2501068fb2"
  },
  "id": "d3A3QK1eWBvHNOJP",
  "tags": []
}